<h1>All cars</h1>

<h3>@Model.CurrentCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.Cars)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@car.ImageURL" alt="@car.Name" />

                <h2>@car.Name</h2>

                <p>@car.ShortDescription</p>

                <p>Price: @car.Price.ToString("c")</p>

                <p>
                    <a class="btn btn-warning" href="#">More</a>
                </p>
            </div>
        }
    }
</div>
